
		<div class="contact-card">

			<div class="contact-card-item">

				<div class="contact-image">

					<a href="http://instagram.com/" target="_blank">

						<img src="{{ site.baseurl}}/assets/images/icons/instagram-logo.png" alt="instagram">

					</a>

				</div>

				<div class="contact-image">

					<a href="tel:0762369009">

						<img src="{{ site.baseurl}}/assets/images/icons/phone-logo.png" alt="phone">

					</a>

				</div>

				<div class="contact-image">

					<a href="http://youtube.com/" target="_blank">

						<img src="{{ site.baseurl}}/assets/images/icons/youtube-logo.png" alt="youtube">

					</a>

				</div>

			</div>

		</div>
