    <div class="modal fixed-right fade" id="modalShoppingCart" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-vertical" role="document">

        <!-- Full cart (add `.d-none` to disable it) -->
        <div class="modal-content">

          <!-- Close -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class='material-icons fs-15' aria-hidden="true">close</i>
          </button>

          <!-- Header-->
          <div class="modal-header line-height-fixed font-size-lg">
            <strong class="mx-auto">Trimite-ne un mesaj</strong>
          </div>


          <form action="https://formspree.io/f/mdopjbpn" method="POST">
            <div class="container">
              <div class="form-group">
                <label for="subject-input">Subiect</label>
                <input type="text" name="subject" id="subject-input">
              </div>
              <div class="form-group">
                <label for="name-input">Nume</label>
                <input type="text" name="name" id="name-input">
              </div>

              <div class="form-group">
              <label for="replyto">Email</label>
              <input type="email" name="_replyto" id="replyto">
              </div>

               <div class="form-group">
                <label for="phone-input">Numar de Telefon</label>
                <input type="text" name="subject" id="phone-input">
              </div>             

               <div class="form-group">
                <label for="lucrare-input">Tip de Lucrare</label>
                <input type="text" name="tip_lucrare" id="lucrare-input">
              </div>             

               <div class="form-group">
                <label for="suprafata-input">Suprafata de lucru (MP)</label>
                <input type="text" name="suprafata" id="suprafata-input">
              </div>       

               <div class="form-group">
                <label for="message-input">Mesaj</label>
                <input type="text" name="mesaj" id="message-input">
              </div>             

              <input type="submit" value="Trimite">
            </div>


            <div class="modal-body">
              <button class="btn btn-block btn-outline-dark" type="submit">Cere oferta</button>
            </div>

          </form>

            <!-- Buttons -->


          </div>


        </div>
      </div>
