<section id="contacts">
<!-- 	<div class="section bg-secondary">
		<div class="section-content container">
			<div class="text-center">
				<small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">We answer within 24 hours</small>
				<h1>Contact Us</h1>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<form action="#" class="row mt-17">
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="first_name" class="form-label">First name</label> <input type="text" class="form-control" id="first_name">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="last_name" class="form-label">Last name</label> <input type="text" class="form-control" id="last_name">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="phone" class="form-label">Phone</label> <input type="text" class="form-control" id="phone">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="email" class="form-label">Email</label> <input type="text" class="form-control" id="email">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="service" class="form-label">Select the service</label> <select class="custom-select" id="service">
									<option value="1">Kitchen Remodeling</option>
									<option value="2">Bathroom Remodeling</option>
									<option value="3">Roofing</option>
									<option value="4">Windows &amp; Doors</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="zip-code" class="form-label">Your zip code</label> <input type="text" class="form-control" id="zip-code">
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label for="message" class="form-label">Message</label> <textarea id="message" class="form-control" rows="3">
								</textarea>
							</div>
						</div>
						<div class="col-12 d-flex justify-content-between align-items-center flex-column flex-md-row">
							<div class="form-group form-check mb-9 mb-md-0">
								<div class="custom-checkbox-wrap checked">
									<input type="checkbox" class="custom-checkbox" id="exampleCheck2" checked="checked">
									<div class="custom-checkbox-presenter">
									</div>
								</div> <label class="form-check-label" for="exampleCheck2">I've read and agree with the <a href="#">Terms &amp; Policy</a>
								</label>
							</div>
							<div class="form-group mb-0">
								<button class="btn btn-primary btn-lg">Send message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div> -->
	<div class="container py-19 py-lg-20">
		<div class="row vertical-divider-light">
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card border-0">
					<div class="card-body py-17 px-10 text-center">
						<div class="card-icon mb-6">
							<i class="material-icons">location_on</i>
						</div>
						<div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">Bucuresti</div>
						<p class="mb-0 text-body">Bld. Timisoara 135</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card border-0">
					<div class="card-body py-17 px-10 text-center">
						<div class="card-icon mb-6">
							<i class="material-icons">phone</i>
						</div>
						<div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">Nu ezitati</div>
						<p class="mb-0 text-body">07 62 369 009</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card border-0">
					<div class="card-body py-17 px-10 text-center">
						<div class="card-icon mb-6">
							<i class="material-icons">access_time</i>
						</div>
						<div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">Program</div>
						<p class="mb-0 text-body">
						Luni - Vineri: 6:00 - 9:00<br>
						Sambata: 6:00 - 12:00
					    </p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card border-0">
					<div class="card-body py-17 px-10 text-center">
						<div class="card-icon mb-6">
							<i class="material-icons">alternate_email</i>
						</div>
						<div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">Email</div>
						<p class="mb-0 text-body">oferta@epoxitotal.ro</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="gmap">
	<div class="gmap-embed">
		<div class="gmap-embed-sizing-helper" style="padding-top: 500px;">
		</div>
		<div class="gmap-embed-inner"
		data-options="{&quot;center&quot;:{&quot;lat&quot;:44.425840,&quot;lng&quot;:26.016470}}">
	</div>
</div>
</div>
</div>
</div>
</section>
<section class="footer bg-secondary">
	<div class="container py-19 py-sm-23 py-lg-25">
		<div class="row align-items-center">

			<div class="col-12 col-md-6 col-lg-5 mb-14 mb-md-0">
				<div class="d-flex align-items-center justify-content-center justify-content-md-start">
					<a href="index.html" class="footer-brand">EPOXITOTAL</a>
				</div>
			</div>



					<div class="col-12 col-lg-2 text-center d-none d-lg-block">
						<a class="btn btn-block" data-toggle="modal" href="#modalShoppingCart">
							Cere oferta
						</a>
					</div>


					<div class="col-12 col-md-6 col-lg-5 text-center text-md-right">
						<ul class="footer-menu">
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="#">Terms &amp; Conditions</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>


