<section class="section pb-3">
  <div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h2 class="pb-5">Contact</h2>
		</div>
		<div class="col-6">
			<div class="form-collapsible-section" role="article" aria-expanded="true">
				<div class="form-collapsible-section-head">
					<span class="form-collapsible-section-number">3</span> <span class="form-collapsible-section-title">Contact</span> <span class="form-collapsible-section-toggle">
						<i class="material-icons">keyboard_arrow_down</i>
					</span>
				</div>
				<div class="form-collapsible-section-body collapse show" style="">
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="form-group mb-5">
								<input type="text" placeholder="Nume Complet" class="form-control" id="full_name">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group mb-5">
								<input type="text" placeholder="Email" class="form-control" id="email">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group mb-5">
								<input type="text" placeholder="Telefon" 	class="form-control" id="phone">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group mb-5">
								<input type="text" placeholder="Tip Lucrare" class="form-control" id="address">
							</div>
						</div>
						<div class="col-12">
							<div class="form-group mb-0">
								<textarea id="message" placeholder="Mesaj.." class="form-control" rows="3">
								</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="gmap">
				<div class="gmap-embed">
					<div class="gmap-embed-sizing-helper">
					</div>
					<div class="gmap-embed-inner"
					data-options="{&quot;center&quot;:{&quot;lat&quot;:44.425840,&quot;lng&quot;:26.016470}}">
				</div>
			</div>
		</div>
	</div>
 </div>
</section>

<section class="footer bg-secondary">
	<div class="container py-19 py-sm-23 py-lg-25">
		<div class="row align-items-center">

			<div class="col-12 col-md-6 col-lg-5 mb-14 mb-md-0">
				<div class="d-flex align-items-center justify-content-center justify-content-md-start">
					<a href="index.html" class="footer-brand">PROFI</a>
					<div class="brand-icons-list ml-10 ml-sm-20">
						<a href="#" class="brand-icon brand-icon-circle brand-icon-facebook">
							<i class="fa fa-facebook-f">
							</i> </a>
							<a href="#" class="brand-icon brand-icon-circle brand-icon-twitter">
								<i class="fa fa-twitter">
								</i> </a>
								<a href="#" class="brand-icon brand-icon-circle brand-icon-pinterest">
									<i class="fa fa-pinterest-p">
									</i>
								</a>
							</div>
						</div>
					</div>



					<div class="col-12 col-lg-2 text-center d-none d-lg-block">
						<a class="btn btn-block btn-outline-dark" data-toggle="modal" href="#modalShoppingCart">
							Contacteaza-ne acum!
						</a>
					</div>


					<div class="col-12 col-md-6 col-lg-5 text-center text-md-right">
						<ul class="footer-menu">
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="#">Terms &amp; Conditions</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>


