<html class=no-js lang=en>

<head>

	<meta charset=utf-8>

	<meta http-equiv=x-ua-compatible content='ie=edge'>

	<meta name=viewport content='width=device-width,initial-scale=1,shrink-to-fit=no'>

	<title>
	{{ page.title }}</title>

	<link rel=stylesheet href='{{ site.baseurl }}/assets/css/vendor.css'>

	<link rel=stylesheet href='{{ site.baseurl }}/assets/css/style.css'>

	<link rel=stylesheet href='{{ site.baseurl }}/assets/css/custom.css'>

	<link rel=stylesheet href='{{ site.baseurl }}/assets/css/fa.scss'>

<link rel="icon" 
      type="image/png" 
      href='{{site.baseurl}}/assets/images/favicon.png' />

</head>

<body data-spy=scroll data-target=#header-navbar data-offset=140 position="relative">


	<div id=page-start-anchor>

	</div>


	<section class='header header-fixed-xl'>

		<div class='header-top-line bg-primary'>

			<div class=container>

				<div class=row>

					<nav class='navbar navbar-expand navbar-dark navbar-short justify-content-between w-100'>


						<span class='navbar-text text-uppercase d-flex align-items-center'>

							<span class='text-white-70 mr-1'>

								<a href="tel:0762369009" class="text-white">

<!-- 									<i class='material-icons fs-1'>
									phone</i>
								0762369009</a> -->

								<a href="mailto:oferta@epoxitotal.ro" class="text-white">

									<i class='material-icons fs-1'>
									email</i>
								oferta@epoxitotal.ro</a>

							</span>

						</span>



						<ul class=navbar-nav>

							<li class='nav-item dropdown dropdown-flat dropdown-flat-primary'>

								<a class='nav-link text-white dropdown-toggle' href='#' data-toggle=dropdown>

									<span class=text-uppercase>
									Language</span>

								</a>

								<div class=dropdown-menu>

									<a class=dropdown-item href='#'>
									Engleza</a>

									<a class=dropdown-item href='#'>
									Romana</a>


								</div>

							</li>

						</ul>

					</nav>

				</div>

			</div>

		</div>


		<div class='header-main bg-white'>

			<div class=container>

				<div class=row>

					<nav class='navbar navbar-expand-lg navbar-light w-100' id=header-navbar>

						<a class='navbar-brand font-weight-bold' href='/'>

							<img src='{{ site.baseurl }}/images/logo.png' width='150px'>

						</a>


						<button class=navbar-toggler type=button data-toggle=collapse data-target=#navbarSupportedContent aria-controls=navbarSupportedContent aria-expanded=false aria-label='Toggle navigation'>

							<span class=navbar-toggler-icon>

							</span>

						</button>

						<div class='collapse navbar-collapse' id=navbarSupportedContent>

							<ul class='navbar-nav ml-auto'>
								<li class=nav-item>

									<a class='nav-link text-uppercase' href='{{ site.baseurl }}/servicii'>
									Servicii</a>

								</li>


								<li class=nav-item>

									<a class='nav-link text-uppercase' href='{{ site.baseurl }}/rasini'>
									Rasini</a>

								</li>

								<li class=nav-item>

									<a class='nav-link text-uppercase' href=' {{site.baseurl }}/sisteme'>
									Sisteme</a>

								</li>

								<li class=nav-item>

									<a class='nav-link text-uppercase' href='{{ site.baseurl }}/terrazzo'>
									Terrazzo</a>

								</li>

								<li class=nav-item>

									<a class='nav-link text-uppercase' href='{{ site.baseurl }}/microciment'>
									Microciment</a>

								</li>


								<li class='nav-item'>

									<a class='nav-link text-uppercase' href='{{ site.baseurl}}/galerie'>
									Galerie</a>

								</li>

								<li class='nav-item'>

									<a class='nav-link text-uppercase' href='{{ site.baseurl}}/despre-noi'>
									Companie</a>

								</li>
							</ul>

							<div class=navbar-spacer>

							</div>

							<a class='btn btn-primary text-nowrap' href='#modalShoppingCart' data-toggle='modal'>
							Contact</a>




						</div>

					</nav>

				</div>

			</div>

		</div>


	</section>



	{{ content }}

	{% include footer.html %}
	{% include button_group.html %}
	{% include contact_modal.html %}




	<script src='{{ site.baseurl }}/assets/js/vendor.js'>

	</script>

	<script src='{{ site.baseurl }}/assets/js/polyfills.js'>

	</script>

	<script src='{{ site.baseurl }}/assets/js/app.js'>

	</script>


	<script src='{{ site.baseurl }}/assets/js/home.js'>

	</script>


	<script type="text/javascript">
		$(document).ready(function(){
			$(window).scroll(function() {
				if ($(document).scrollTop() > 50) {
					$('#header-nav').addClass('scrolled');
				} else {
					$('#header-nav').removeClass('scrolled');
				}
			});
		});
	</script>


</body>

</html>
