<html class=no-js lang=en>

<head>

	<meta charset=utf-8>

	<meta http-equiv=x-ua-compatible content='ie=edge'>

	<meta name=viewport content='width=device-width,initial-scale=1,shrink-to-fit=no'>

	<title>
	{{ page.title }}</title>

	<link rel=stylesheet href='{{ site.baseurl }}/assets/css/vendor.css'>

	<link rel=stylesheet href='{{ site.baseurl }}/assets/css/style.css'>

	<link rel=stylesheet href='{{ site.baseurl }}/assets/css/custom.css'>

	<link rel=stylesheet href='{{ site.baseurl }}/assets/css/fa.scss'>

<link rel="icon" 
      type="image/png" 
      href='{{site.baseurl}}/assets/images/favicon.png' />

</head>

<body data-spy=scroll data-target=#header-navbar data-offset=140 position="relative">


	<div id=page-start-anchor>

	</div>


	<section class='header header-fixed-xl'>

		<div class='header-top-line bg-primary'>

			<div class=container>

				<div class=row>

					<nav class='navbar navbar-expand navbar-dark navbar-short justify-content-between w-100'>


						<span class='navbar-text text-uppercase d-flex align-items-center'>

							<span class='text-white-70 mr-1'>

								<a href="tel:0762369009" class="text-white">

									<i class='material-icons fs-1'>
									phone</i>
								0762369009</a>

								<a href="mailtp:oferta@epoxitotal.ro" class="text-white">

									<i class='material-icons fs-1'>
									email</i>
								oferta@epoxitotal.ro</a>

							</span>

						</span>



						<ul class=navbar-nav>

							<li class='nav-item dropdown dropdown-flat dropdown-flat-primary'>

								<a class='nav-link text-white dropdown-toggle' href='#' data-toggle=dropdown>

									<span class=text-uppercase>
									Language</span>

								</a>

								<div class=dropdown-menu>

									<a class=dropdown-item href='#'>
									Engleza</a>

									<a class=dropdown-item href='#'>
									Romana</a>


								</div>

							</li>

						</ul>

					</nav>

				</div>

			</div>

		</div>


		<div class='header-main bg-white'>

			<div class=container>

				<div class=row>

					<nav class='navbar navbar-expand-lg navbar-light w-100' id=header-navbar>

						<a class='navbar-brand font-weight-bold' href='/'>

							<img src='{{ site.baseurl }}/images/logo.png' width='150px'>

						</a>


						<button class=navbar-toggler type=button data-toggle=collapse data-target=#navbarSupportedContent aria-controls=navbarSupportedContent aria-expanded=false aria-label='Toggle navigation'>

							<span class=navbar-toggler-icon>

							</span>

						</button>

						<div class='collapse navbar-collapse' id=navbarSupportedContent>

							<ul class='navbar-nav ml-auto'>
								<li class=nav-item>

									<a class='nav-link text-uppercase' href='{{ site.baseurl }}/servicii'>
									Servicii</a>

								</li>


								<li class=nav-item>

									<a class='nav-link text-uppercase' href='{{ site.baseurl }}/rasini'>
									Rasini</a>

								</li>

								<li class=nav-item>

									<a class='nav-link text-uppercase' href=' {{site.baseurl }}/sisteme'>
									Sisteme</a>

								</li>

								<li class=nav-item>

									<a class='nav-link text-uppercase' href='{{ site.baseurl }}/terrazzo'>
									Terrazzo</a>

								</li>

								<li class=nav-item>

									<a class='nav-link text-uppercase' href='{{ site.baseurl }}/microciment'>
									Microciment</a>

								</li>


								<li class='nav-item'>

									<a class='nav-link text-uppercase' href='{{ site.baseurl}}/galerie'>
									Galerie</a>

								</li>

								<li class='nav-item'>

									<a class='nav-link text-uppercase' href='{{ site.baseurl}}/despre-noi'>
									Companie</a>

								</li>
							</ul>

							<div class=navbar-spacer>

							</div>

							<a class='btn btn-primary text-nowrap' href='{{site.baseurl}}/contact' data-toggle=none target=_blank>
							Contact</a>




						</div>

					</nav>

				</div>

			</div>

		</div>


	</section>



	{{ content }}


	<section class="footer bg-secondary">

		<footer id="footer">

			<div class="logo-wrapper">

				<a class="logo-footer home-footer" href="#">

					<img class="logo" src="{{ site.baseurl }}/assets/images/logo-transparent.png"/>

				</a>

			</div>

			<div class="col-md-12 no-padding box-wrapper contact-container">

				<div class="col-md-6 form-container left">

					<h4>
					Epoxitotal</h4>

					<span style="font-size: 10pt;">
					Bucuresti</span>

					<span style="font-size: 10pt;">
					Bd. Timisoara 135</span>

					<span style="font-size: 10pt;">
					postal code 077160</span>


					<span style="font-size: 12pt;">

						<a href="tel:  0040 766 89 11 25">
						tel: 0040 766 89 11 25</a>

					</span>


					&nbsp;
					<h4>

						<strong>
						Program de lucru normal</strong>

					</h4>

					&nbsp;
					<table>

						<tbody class="current-day">

							<tr class="day today open">

								<td>
								 Deschis astazi </td>

								<td style="padding-left: 10px !important;">
									 06:00 - 21:00 <span class="previous-button toggle-button down-button">

									</span>

								</td>

							</tr>

							<tr class="day today closed hide">

								<td>
								 Inchis astazi</td>

								<td>

								</td>

							</tr>

						</tbody>

					</table>

					<div class="working-hours">

						<div class="week-schedule-table">

							<table>

								<tbody class="week hide">

									<tr class="day-1 monday">

										<td>
										 Luni</td>

										<td>
										 06:00 - 21:00</td>

									</tr>

									<tr>

										<td class="day-2 tuesday">
										Marti</td>

										<td>
										 06:00 - 21:00</td>

									</tr>

									<tr>

										<td class="day-3 wednesday">
										Miercuri</td>

										<td>
										 06:00 - 21:00</td>

									</tr>

									<tr class="day-4 thursday">

										<td>
										Joi</td>

										<td>
										 06:00 - 21:00</td>

									</tr>

									<tr class="day-5 friday">

										<td>
										Vineri</td>

										<td>
										 06:00 - 21:00</td>

									</tr>

									<tr class="day-6 saturday">

										<td>
										Sambata</td>

										<td>
										 06:00 - 12:00</td>

									</tr>

									<tr class="day-7 sunday">

										<td>
										Duminica</td>

										<td>
										 Closed</td>

									</tr>

								</tbody>

							</table>

							<!-- DivTable.com -->


						</div>

						<div class="contact-button-container" id="show-contact-form">

							<button class="nice button">
							Contactati-ne acum</button>

						</div>

					</div>

					<div class="footer-form">

						<div role="form" class="wpcf7" id="wpcf7-f5-p10-o1" lang="en-US" dir="ltr">

							<div class="screen-reader-response">

							</div>

							<form action="contact_form" method="post" class="wpcf7-form" novalidate="novalidate">

								<div style="display: none;">

									<input type="hidden" name="_wpcf7" value="5">

									<input type="hidden" name="_wpcf7_version" value="5.1.3">

									<input type="hidden" name="_wpcf7_locale" value="en_US">

									<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p10-o1">

									<input type="hidden" name="_wpcf7_container_post" value="10">

									<input type="hidden" name="lang" value="ro">

									<input type="hidden" name="g-recaptcha-response" value="">

								</div>

								<p>

									<label>
										Subiect<br>

										<span class="wpcf7-form-control-wrap your-subject">

											<input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false">

										</span>
									</label>

								</p>

								<p>

									<label>
										Nume *<br>

										<span class="wpcf7-form-control-wrap your-name">

											<input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">

										</span>
									</label>

								</p>

								<p>

									<label>
										Email *<br>

										<span class="wpcf7-form-control-wrap your-email">

											<input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email reference" aria-required="true" aria-invalid="false">

										</span>
									</label>

								</p>

								<p>

									<label>
										Telefon<br>

										<span class="wpcf7-form-control-wrap your-phone">

											<input type="tel" name="your-phone" value="" size="40" minlength="10" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel adjust" aria-invalid="false" style="width: 475px;">

										</span>
									</label>

								</p>

								<p>

									<label>
										Tip de lucrare<br>

										<span class="wpcf7-form-control-wrap your-surface">

											<input type="text" name="your-work" value="" size="40" minlength="10" class="wpcf7-form-control wpcf7-text wpcf7-tel adjust" aria-invalid="false" style="width: 475px;">

										</span>
									</label>

								</p>

								<p>

									<label>
										Suprafata de lucru m<sup>
										2</sup>

										<br>

										<span class="wpcf7-form-control-wrap your-surface">

											<input type="number" name="your-surface" value="" size="40" minlength="10" class="wpcf7-form-control wpcf7-text wpcf7-tel adjust" aria-invalid="false" style="width: 475px;">

										</span>
									</label>

								</p>

								<p>

									<label>
										Mesaj<br>

										<span class="wpcf7-form-control-wrap your-message">

											<textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false">

											</textarea>

										</span>
									</label>

								</p>

								<p>

									<input type="submit" value="Send" class="button wpcf7-submit">

									<span class="ajax-loader">

									</span>

									<a href="javascript:void(0)" id="hide-contact-form">
									Cancel</a>

								</p>

								<div class="wpcf7-response-output wpcf7-display-none">

								</div>

							</form>

						</div>

					</div>

				</div>

				<div class="col-md-6 left">

					<div class="gmap pt-4">
						<div class="gmap-embed">
							<div class="gmap-embed-sizing-helper">
							</div>
							<div class="gmap-embed-inner"
							data-options="{&quot;center&quot;:{&quot;lat&quot;:44.425840,&quot;lng&quot;:26.016470}}">
						</div>
					</div>

				</div>

			</div>

			<div class="menu-footer">

				<ul class="footer-nav">

					<li class="menu-footer item">

						<a href="/">
						ACASA </a>

					</li>

					<li class="menu-footer item">

						<a href="galerie.html">
						GALERIE</a>

					</li>

					<li class="menu-footer item">

						<a href="contact.html">
						CONTACTATI-NE</a>

					</li>

				</ul>

			</div>

			<div class="menu-contact-wrapper">

				<ul class="menu-contact">

					<li>

						<figure>

							<img src="profi/assets/images/icons/footer-icon1.png" alt="">

						</figure>

						<address>
						Baratiei 46, Bucuresti</address>

					</li>


					<li>

						<figure>

							<img src="profi/assets/images/icons/footer-icon2.png" alt="">

						</figure>

						<a class="tel" href="tel:0766891825">
						0766 891 825</a>

					</li>


					<li>

						<figure>

							<img src="profi/assets/images/icons/footer-icon4.png" alt="">

						</figure>

						<a class="email" href="mailto:info@epoxitotal.com">
						Info@EpoxiTotal.ro</a>

					</li>

				</ul>

			</div>

			<div class="copyright-sec">

				<small>
				Copyright © 2019 EpoxiTotal All Rights Reserved.</small>
				<a href="#">
				Dezvoltat de 101ITCONSULT</a>

			</div>

		</footer>

	</section>


<div class="btn-group-vertical back-to-top">
	<a href="#" class="btn btn-primary btn-round aos-init aos-animate" data-smooth-scroll="" data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
		<i class='material-icons'>phone</i>
	</a>
	<a href="#" class="btn btn-primary btn-round aos-init aos-animate" data-smooth-scroll="" data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3z" fill="white"/></svg>
	</a>
	<a href="#" class="btn btn-primary btn-round aos-init aos-animate" data-smooth-scroll="" data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path d="M941.3 296.1a112.3 112.3 0 0 0-79.2-79.3C792.2 198 512 198 512 198s-280.2 0-350.1 18.7A112.12 112.12 0 0 0 82.7 296C64 366 64 512 64 512s0 146 18.7 215.9c10.3 38.6 40.7 69 79.2 79.3C231.8 826 512 826 512 826s280.2 0 350.1-18.8c38.6-10.3 68.9-40.7 79.2-79.3C960 658 960 512 960 512s0-146-18.7-215.9zM423 646V378l232 133l-232 135z" fill="white"/></svg>
	</a>
</div>

	<script src='{{ site.baseurl }}/assets/js/vendor.js'>

	</script>

	<script src='{{ site.baseurl }}/assets/js/polyfills.js'>

	</script>

	<script src='{{ site.baseurl }}/assets/js/app.js'>

	</script>


	<script src='{{ site.baseurl }}/assets/js/home.js'>

	</script>


	<script type="text/javascript">
		$(document).ready(function(){
			$(window).scroll(function() {
				if ($(document).scrollTop() > 50) {
					$('#header-nav').addClass('scrolled');
				} else {
					$('#header-nav').removeClass('scrolled');
				}
			});
		});
	</script>


</body>

</html>
